.subnav
  %ul.nav.nav-pills
    %li= link_to 'Recently updated', volunteers_path(:sort => 'updated_at')
    %li= link_to 'All Volunteers', volunteers_path(:sort => 'name')
    -#%li= link_to 'Table View', table_staff_path
    = render 'shared/search'
