.container
  .row
    .twelvecol.last
      :erb
        <p>
          <b>User:</b>
          <%= @volunteer.user.name %>
        </p>

        <p>
          <b>Pc:</b>
          <%= @volunteer.pc_id %>
        </p>

        <p>
          <b>Emphasis:</b>
          <%= @volunteer.emphasis %>
        </p>

        <p>
          <b>Projects:</b>
          <%= @volunteer.projects %>
        </p>

        <p>
          <b>Stage:</b>
          <%= @volunteer.stage_id %>
        </p>

        <p>
          <b>Cos date:</b>
          <%= @volunteer.cos_date %>
        </p>

        <p>
          <b>Local name:</b>
          <%= @volunteer.local_name %>
        </p>

        <p>
          <b>Site:</b>
          <%= @volunteer.site_id %>
        </p>

        <p>
          <b>Sector:</b>
          <%= @volunteer.sector_id %>
        </p>

        <p>
          <b>Start:</b>
          <%= @volunteer.start %>
        </p>
