.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Url</th>
          <th>Language</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @websites.each do |website| %>
        <tr>
          <td><%= website.name %></td>
          <td><%= website.description %></td>
          <td><%= website.url %></td>
          <td><%= website.language_id %></td>
          <td><%= link_to 'Show', website %></td>
          <td><%= link_to 'Edit', edit_website_path(website) %></td>
          <td><%= link_to 'Destroy', website, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </table>
  .span2
