.container
  .row
    .twelvecol.last
      :erb
        <table>
          <tr>
            <th>User</th>
            <th>Group</th>
            <th></th>
          </tr>

        <% @memberships.each do |membership| %>
          <tr>
            <td><%= link_to membership.user.name, membership.user %></td>
            <td><%= link_to membership.group.name, membership.group %></td>
            <td><%= link_to 'Destroy', membership, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
