.bundle
db/*.sqlite3
tmp/
.sass-cache/
*.komodoedit
.DS_Store
omniauth.rb.bak
omniauth.rb
dev_environment.rb
pro_environment.rb
*.swp

# from github suggested list

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

