= semantic_form_for(@staff) do |f|
  = f.semantic_errors
  = f.inputs :user, :country, :site, :building, :office, :floor, :morning_open, :morning_close, :afternoon_open, :afternoon_close, :details
  = f.buttons
