.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      :erb
        <table>
          <tr>
            <th>User</th>
            <th>Site</th>
            <th>Building</th>
            <th>Office</th>
            <th>Floor</th>
            <th>Morning open</th>
            <th>Morning close</th>
            <th>Afternoon open</th>
            <th>Afternoon close</th>
            <th>Details</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @staff.each do |staff| %>
          <tr>
            <td><%= link_to staff.user.name, staff.user %></td>
            <td><%= staff.site_id %></td>
            <td><%= staff.building %></td>
            <td><%= staff.office %></td>
            <td><%= staff.floor %></td>
            <td><%= staff.morning_open %></td>
            <td><%= staff.morning_close %></td>
            <td><%= staff.afternoon_open %></td>
            <td><%= staff.afternoon_close %></td>
            <td><%= staff.details %></td>
            <td><%= link_to 'Show', staff %></td>
            <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
            <td><%= link_to 'Destroy', staff, confirm: 'Are you sure?', method: :delete, remote: true %></td>
          </tr>
        <% end %>
        </table>
    .span-4.last
      = render 'shared/right_user_menu'