.container
  .row
    .twelvecol.last
      :erb
        <p>
          <b>Name:</b>
          <%= @privilege.name %>
        </p>
        
        <p>
          <b>Description:</b>
          <%= @privilege.description %>
        </p>
