.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      :erb
        <p>
          <b>User:</b>
          <%= @stack.user.name %>
        </p>

        <p>
          <b>Type:</b>
          <%= @stack.stackable_type %>
        </p>

        <p>
          <b>ID:</b>
          <% link_to @stack.stackable_id %>
        </p>

        <p>
          <b>Comment:</b>
          <%= @stack.comment %>
        </p>

        <p>
          <b>Library:</b>
          <%= @stack.library.name %>
        </p>
