.container
  .row
    .threecol
    .ninecol.last
      :erb
        <p>
          <b>Name:</b>
          <%= @sector.name %>
        </p>

        <p>
          <b>Description:</b>
          <%= @sector.description %>
        </p>
