.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %ul
          = render @groups
    .span-4.last
      %h3 About Groups
      %p Groups control access to things like viewing, creating, editing, and deleting pages and users.
