.container
  .row
    .threecol
      = render 'shared/menu'
    .sixcol
      = render @groups
    .threecol.last
      %h3 About Groups
      %p Groups control access to things like viewing, creating, editing, and deleting pages and users.
