.twelvecol.last.feed_item
  .threecol= avatar_for feed_item
  .ninecol.last
    %h3= feed_item.title
    %p= link_to feed_item.description, feed_item
    %p= truncate(feed_item.content, :length => 200, :separator => ' ')
