- if a.errors.any?
  #error_explanation
    %h2= #{pluralize(a.errors.count, "error")} prohibited this privilege from being saved:
    %ul
      - a.errors.full_messages.each do |msg|
        %li= msg
