.container
  .row
    .span-5
      = render 'shared/menu'
    .span-5
      .box
        %ul.feed
          = render @libraries
    .span-5
      .box
        %ul.feed
          = render @libraries2 if @libraries2
    .span-5
      .box
        %ul.feed
          = render @libraries3 if @libraries3