.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      :erb
        <p>
          <b>Name:</b>
          <%= @pcregion.name %>
        </p>

        <p>
          <b>Short:</b>
          <%= @pcregion.short %>
        </p>

        <p>
          <b>Description:</b>
          <%= @pcregion.description %>
        </p>
    .span-4.last
      = render 'shared/right_user_menu'