.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      :erb
        <table class="table">
          <tr>
            <th>Property</th>
            <th>Value</th>
            <th>Explanation</th>
            <th>Comment</th>
            <th>User</th>
            <th></th>
            <th></th>
          </tr>

        <% @settings.each do |setting| %>
          <tr>
            <td><%= link_to setting.property, setting %></td>
            <td><%= setting.value %></td>
            <td><%= setting.explanation %></td>
            <td><%= setting.comment %></td>
            <td><%= setting.user_id %></td>
            <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
            <td><%= link_to 'Destroy', setting, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
    .span-4.last
