.container
  .row
    .threecol
      = render 'menu'
    .ninecol.last
      :erb
        <table>
          <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Scope</th>
            <th>Processed</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @imports.each do |import| %>
          <tr>
            <td><%= import.name %></td>
            <td><%= import.comment %></td>
            <td><%= import.scope.name %></td>
            <td><%= import.processed %></td>
            <td><%= link_to 'Show', import %></td>
            <td><%= link_to 'Edit', edit_import_path(import) %></td>
            <td><%= link_to 'Destroy', import, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
