.accordion#context
  %h3 Pages
  %ul
    %li= link_to 'Recently updated', updated_pages_path
    %li= link_to 'Recently added', added_pages_path
    %li= link_to 'Most popular', ''
    %li= link_to 'Page map', pages_path
