.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      %h1= @title
      - @page.contributions.build if @page.contributions.empty?
      = render 'form'
    .span-4.last
      = render 'shared/right_user_menu'
