.container
  .row
    .threecol
      = render 'shared/menu'
    .sixcol
      = will_paginate @pages
      = render :partial => 'shared/feed_item', :collection => @pages
      = will_paginate @pages
    .threecol.last
