.row
  .span3
    = render 'shared/menu'
  .span9
    = render 'menu'
    .row
      .span4.offset1
        .well
          %h1 New Page
          = render 'form'
      .span4
        .well
          %h3 Suggested Tags
          %p The following tags have been used on more than 2 pages already; consider using them to maintain consistency.
          %hr
          - for tag in Page.tag_counts.order('name ASC') do
            = tag.name if (Page.tagged_with('tag.name').count > 2)
            %br
