.container
  .row
    .span-5
      = render 'shared/menu'
    .span-5
    .span-7
      .box
        %h2 Edit @document.name
        = render 'form'
    .span-3
    .span-4.last
      = render 'shared/right_user_menu'
