.container
  .row
    .span3
      = render 'shared/menu'
    .span9
      = render 'menu'
      .row
        .span6
          = render 'form'
        .span3
          .well
            %h2 Suggested Tags
            %p The following tags have been used on more than 2 files already; consider using them to maintain consistency.
            %hr
            - for tag in Document.tag_counts.order('name ASC') do
              - if Document.tagged_with(tag.name).count > 2 || Page.tagged_with(tag.name).count > 2
                = tag.name
                %br
