.container
  .row
    .span3
      = render 'shared/menu'
    .span5
      %h2 Upload a file
      = render 'form'
    .span4
      .well
        %h3 Suggested Tags
        %p The following tags have been used on more than 2 files already; consider using them to maintain consistency.
        %hr
        - for tag in Document.tag_counts.order('name ASC') do
          = tag.name if (Document.tagged_with(tag.name).count > 2)
          %br
