.container
  .row
    .twelvecol.last
      :erb
        <table>
          <tr>
            <th>Group</th>
            <th>Type</th>
            <th>ID</th>
            <th>Privilege</th>
            <th></th>
          </tr>

        <% @permissions.each do |permission| %>
          <tr>
            <td><%= permission.group.name %></td>
            <td><%= permission.permissable_type %></td>
            <td><%= permission.permissable_id %></td>
            <td><%= permission.privilege.name %></td>
            <td><%= link_to 'Destroy', permission, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
