.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      = render 'form'
    .span-4.last
      .box
        %h1 Permissions
        %h4 What to Know
        %p First off, be very careful about what you're doing here. This has the ability to compromise the site.