.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      %h1= @title
      %p Peace Corps Senegal prides itself on being at the forefront when it comes to integrating technology as a Peace Corps Post, which is why we're pleased to host this new site offering support not just to the PC Senegal community, but any and all posts which choose to use it.
      %p Welcome, and enjoy your stay!
    .span-4.last
      = render 'shared/right_user_menu'