.row
  .span3
    = render 'shared/menu'
  .span9
    .hero-unit
      %h1= @title
      %p This site is running a web app developed by Peace Corps Senegal's PCV Jack Brown. It's written in Ruby/Rails, designed from the ground up tailor-made to fit the needs of an active Peace Corps Post.
      %p Over here at Peace Corps Senegal, we pride ourselves on being at the forefront when it comes to integrating technology with work, which is why we're pleased to host this new site offering support not just to the PC Senegal community, but any and all posts which choose to use it.
      %p For more info, please contact Jack directly at jack@brownjohnf.com.
      %p Welcome, and enjoy your stay!
