.row
  .span3
    = render 'shared/menu'
  .span7
    .hero-unit
      %h1= @title
      %p The contents of this web site do not reflect in any way the positions of the U.S. Government or the United States Peace Corps. This web site is managed and supported by Peace Corps Volunteers and our supporters. It is not a U.S. Government web site.
  .span2
