.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      %h1= @title
      %p We will never give, sell, or in any way communicate any personal information to anyone, save with the owner of said information's express permission.