.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      %h1= @title
      %p We will never give, sell, or in any way communicate any personal information to anyone, save with the owner of said information's express permission.
    .span-4.last
      = render 'shared/right_user_menu'