.container
  .row
    .span-24.last
      .slideshow
  .row
    .span-8
      .slideshow
      %p Testing
    .span-8
      .slideshow
      %p Testing
    .span-8.last
      .slideshow
      %p Testing
