.row-fluid
  .span2
    = render 'shared/menu'
  .span10
    %table.table.table-striped.table-condensed.dyn-datatable
      :erb
        <thead>
          <th>User</th>
          <th>Scope</th>
          <th>Target</th>
          <th></th>
        </thead>
        <tbody>
          <% @contributions.each do |contribution| %>
            <tr>
              <td><%= contribution.user.name %></td>
              <td><%= contribution.contributable_type %></td>
              <td><%= link_to contribution.contributable_id, contribution.contributable %></td>
              <td><%= link_to 'Destroy', contribution, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
