.container
  .row
    .twelvecol.last
      :erb
        <p>
          <b>User:</b>
          <%= @contribution.user.name %>
        </p>

        <p>
          <b>Scope:</b>
          <%= @contribution.contributable_type %>
        </p>

        <p>
          <b>Target:</b>
          <%= link_to @contribution.contributable_id, @contribution.contributable %>
        </p>