.container
  .row
    .twelvecol.last
      :erb
        <p>
          <b>Name:</b>
          <%= @scope.name %>
        </p>
        
        <p>
          <b>Description:</b>
          <%= @scope.description %>
        </p>
