.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <table>
        <tr>
          <th>Name</th>
          <th>Arrival</th>
          <th>Swear-in</th>
          <th>Cos</th>
          <th>PC ID</th>
          <th>Country</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @stages.each do |stage| %>
        <tr>
          <td><%= stage.name %></td>
          <td><%= stage.arrival %></td>
          <td><%= stage.swear_in %></td>
          <td><%= stage.cos %></td>
          <td><%= stage.pc_id %></td>
          <td><%= Carmen.country_name(stage.country) %></td>
          <td><%= link_to 'Show', stage %></td>
          <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
          <td><%= link_to 'Destroy', stage, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </table>
  .span2
