.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      :erb
        <p>
          <b>Name:</b>
          <%= @stage.name %>
        </p>

        <p>
          <b>Arrival:</b>
          <%= @stage.arrival %>
        </p>

        <p>
          <b>Swear-in:</b>
          <%= @stage.swear_in %>
        </p>

        <p>
          <b>COS:</b>
          <%= @stage.cos %>
        </p>

        <p>
          <b>PC ID:</b>
          <%= @stage.pc_id %>
        </p>

        <p>
          <b>Country:</b>
          <%= Carmen.country_name(@stage.country) %>
        </p>
    .span-4.last
      = render 'shared/right_user_menu'