= form_for(@photo, :html => { :multipart => true } ) do |f|
  = render :partial => 'shared/form_error', :locals => { :a => @photo } if @photo.errors.any?
  = render :partial => 'fields', :locals => { :f => f }
  .actions
    = f.submit
