.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      %h1 Photo Gallery
      = will_paginate
      = render :partial => @photos, :locals => { :size => :icon }
      = will_paginate
