.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      :erb
        <p>
          <b>Name:</b>
          <%= @country.name %>
        </p>

        <p>
          <b>Short:</b>
          <%= @country.short %>
        </p>

        <p>
          <b>Description:</b>
          <%= @country.description %>
        </p>

        <p>
          <b>Pcregion:</b>
          <%= @country.pcregion.name %>
        </p>

        <p>
          <b>Users:</b>
          <%= @country.users.count %>
        </p>
