.accordion
  %h3 Case Studies
  %ul
    %li= link_to 'All Case Studies', case_studies_path
    %li= link_to 'Recently Added', added_case_studies_path
    %li= link_to 'Recently Updated', updated_case_studies_path
