#admin_menu_bar {
  @extend #feedback;
  z-index: 15;
  position: fixed;
  left: 0;
  width: 8%;
  ul {
    li {
      margin: .5em 0;
      a {
        border-left: 2px solid $steel_blue;
        padding: 0 .5em;
      }
    }
  }
}
