// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.document {
  a.avatar {
    float: left;
    margin-right: 1em;
  }
  img.icon {
    height: 1em;
  }
}
