.feed_item {
  padding: 1em 0 !important;
  clear: both;
  @include clip-corners(5px);
  input[type=submit] {
    float: right;
  }
  &:hover {
    background-color: $gradient_top * 2;
  }
  .threecol {
    img {
      margin-left: 1em;
      @include clip-corners(5px);
      @include shadow(3px);
    }
  }
  .ninecol {
    h3, p {
      margin-right: 1em !important;
    }
    h3 {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 2em !important;
    }
  }
}
