.feed.feed_item {
  padding: 1em 0;
  font-size: 1em;
  &:hover {
    background-color: $gradient_top * 2;
    cursor: pointer;
  }
  h3 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 2em !important;
  }
  img {
    float: left;
  }
  .feed_body {
    margin-left: 8em;
  }
}
