.left_menu {
  #main_menu_logo {
    border-radius: 10px;
    margin-bottom: 2em;
  }
  ul {
    li {
      a {
        border: 1px solid transparent;
        display: block;
        padding: .2em;
        padding-left: 1em;
        &:hover {
          text-decoration: none !important;
          background-color: $very_light_gray;
        }
      }
    }
  }
}
