// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.moments {
  &#year {
    .row.moment {
      img {
        float: left;
      }
    }
  }
  #buttongroup {
    input[type=submit] {
      width: 50% !important;
      float: left;
    }
    input[type=text] {
      width: 20% !important;
    }
  }
  #decades, #years {
    .threecol {
      input[type=submit] {
        width: auto !important;
      }
    }
  }
  #decades {
    input[type=submit] {
      width: 16% !important;
      float: left;
    }
  }
  #years {
    input[type=submit] {
      width: 10% !important;
      float: left;
    }
  }
  &#index {
    #years {
      display: none;
    }
  }
  &#show {
    .box {
      @include gradient;
      @include clip-corners;
      border: 1px solid $white;
    }
  }
  .pagination {
    text-align: center !important;
  }

  #timeline {
    .row {
      margin-bottom: 0 !important;
      .bumper {
        width: 50%;
      }
      .date {
        width: 10%;
        text-align: center;
        span {
          display: inline-block;
          line-height: 6em;
          font-weight: bold;
          font-size: 2em;
        }
      }
      .timeline_moment {
        width: 39%;
        .box {
          @include gradient($white, $steel_blue);
          @include clip-corners(10px);
          padding: 1em;
          h2 {
            padding-top: 0 !important;
          }
          .info {
            width: 80%;
          }
          .avatar {
            width: 20%;
          }
        }
      }
      &.left {
        .timeline_moment {
          margin-left: 1%;
          .box {
            @include shadow-inset(5px, 1px, -1px);
          }
        }
        div {
          float: right;
          p, h2 {
            text-align: right !important;
            margin-right: 10px !important;
          }
          .avatar {
            text-align: right !important;
          }
        }
      }
      &.right {
        .timeline_moment {
          margin-right: 1%;
          .box {
            @include shadow-inset(5px, -1px, -1px);
          }
        }
        div {
          float: left;
          p, h2 {
            margin-right: 10px !important;
          }
          .avatar {
            text-align: left !important;
          }
        }
      }
    }
    background-image: image-url("timeline-bg.png");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 10px auto;
  }
}

