// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  &#show {
    #page {
      .twocol {
        img {
          @include shadow;
          @include clip-corners;
        }
      }
      ul {
        margin-left: 2em;
      }
    }
  }
  &#map {
    ul {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}
