// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  &#show {
    #page {
      ul, ol {
        margin-left: 3em;
      }
      .box.longform {
        p {
          img {
            &.floatright, &.floatleft {
              @include shadow(1px, 0, 0, $dark_gray);
              border: 1px solid whitesmoke;
            }
          }
        }
      }
    }
  }
  &#map {
    ul {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  &#edit {
    textarea {
      height: 400px !important;
    }
  }
  .left_context {
    ul, ol {
      margin: 0 !important;
    }
  }
}

li.short_page {
  a.avatar {
    float: left;
    margin-right: 1em;
    img {
      width: 50px;
    }
  }
}
