// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.photos {
  &#show {
    #page {
      img {
        @include shadow(50px);
      }
      .row:last-child {
        padding-bottom: 50px;
      }
      input[type=submit] {
        width: 100%;
      }
      .libraries {
        input[type=submit] {
          float: right;
          width: auto;
        }
      }
    }
  }
}

a.photo_thumb {
  img {
    @include shadow(10px);
    margin: 10px;
  }
}
