body.statics {
  &#search {
    input[type=text] {
      width: 70%;
    }
  }
  &#splash {
    #page {
      #corner_banner {
        font-size: 2em;
        position: absolute;
        top: 4%;
        right: 7%;
        background: $steel_blue;
        color: white;
        @include rotate(20deg);
        padding: 1em;
        @include clip-corners(1em);
        @include shadow(5px, 1px, 1px, $red);
        border: 1px solid $light_gray;
        text-shadow: 0 1px 2px black;
        font-weight: bold;
      }
      .container {
        overflow: visible;
        //margin-top: 1em;
        #country {
        	font-size: 11em;
        	line-height: .9em;
        	margin-bottom: .2em;
        	color: gray;
        	font-family: 'trebuchet ms'
        }
        #pc_big {
        	width: 75%;
        	height: 80%;
        }
        #patch {
        	margin-bottom: 1em;
        }
        div.spotlight {
          div.photo_container {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: black;
            background-size: 120% auto;
            height: 200px;
            border: 1px solid white;
            box-shadow: 0 0 1px black;
            position: relative;
            .caption {
              background: black;
              opacity: .8;
              color: $steel_blue;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 98%;
              padding: 1%;
              font-size: 1.5em;
            }
          }
          .text {
            margin-top: 1em;
            font-size: 1.5em;
            text-align: justify;
            color: $dark_gray;
          }

        }
        #slider_container {
        	height: 390px;
        	margin-bottom: 50px;
	        @include shadow(5px);
          ul.thumbNav, a.start-stop {
            //display: none !important;
          }
	        #slider1 {
	          margin: 0;
	          .panel {
	            position: relative;
	          }
	          .slide {
	            position: relative;
	            img {
	              position: relative;
	              width: 100%;
	              top: -50%;
	            }
	            .caption {
	              background: black;
	              opacity: .8;
	              color: white;
	              position: absolute;
	              bottom: 0;
	              left: 0;
	              width: 94%;
	              padding: 0 3% 2% 3%;
	              font-size: 1.5em;
	            }
	          }
	        }
	     }
      }
    }
  }
  &#support {
    @extend body.pages;
  }
}

.thumbNav a span {
  visibility: visible; /* span changed to visibility hidden in v1.7.20 */
}
