div.tags {
  span {
    color: $light_gray;
  }
  a {
    color: $gray !important;
    &:hover {
      color: $steel_blue / 2 !important;
    }
    &.tag1 {
      font-size: .8em;
      color: $gray !important;
     }
    &.tag2 {
      font-size: 1.2em;
      color: $gray / 1.2 !important;
     }
    &.tag3 {
      font-size: 1.6em;
      color: $gray / 1.25 !important;
     }
    &.tag4 {
      font-size: 2em;
      color: $gray / 1.5 !important;
     }
  }
}
