// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span.admin, span.moderator {
  color: orange;
}

.users {
  &#show {
    #page {
      input[type=submit] {
        width: 100%;
      }
      li.user {
        &:hover {
          background-color: $light_gray;
        }
      }
    }
  }
}

li.user {
  clear: both;
  list-style: none;
  img {
    margin-right: 10px;
    width: 50px;
  }
  h4 {
    padding: 0 !important;
  }
  a.avatar {
    float: left;
  }
}
