// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span.admin, span.moderator {
  color: orange;
}

.users {
  &#show {
    #page {
      input[type=submit] {
        width: 100%;
      }
      li.user {
        &:hover {
          background-color: $light_gray;
        }
      }
    }
  }
}

li.user {
  clear: both;
  padding: .5em 0;
  list-style: none;
  img {
    margin: 0 10px 10px 10px;
    width: 50px;
    float: left;
  }
  h4 {
    padding: 0 !important;
  }
  & > a {
    &:first-child {
      float: left;
    }
  }
}
