/*
This is the manifest file for all SASS files. By using the @import
directive, access to mixins, extensions, and variables is preserved.
*/

/* fix for broken sprite path (added when upgrading to bootstrap-sass 2.0.4.0) */
$iconSpritePath: image-url('glyphicons-halflings.png');
$iconWhiteSpritePath: image-url('glyphicons-halflings-white.png');
/* END fix */

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'countdown';
//@import 'tagit';

/**********************************************/
/* FIXES */

/* Form prepends - added 06 aug 2012 on bootstrap v 2.0.4 */
form.form-horizontal {
  .control-group {
    .controls {
      .input-prepend {
        span.add-on {
          margin-right: -5px;
        }
      }
    }
  }
}

$dark_blue: #005580;

body {
  //padding-top: 40px;
}

#admin_menu_bar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
}
#top-fixed-buffer {
  margin-top: 40px;
}
#photobar {
  background-color: black;
  border-bottom: 1em solid $dark_blue;
  margin-bottom: 2em;
  margin-top: 40px;
  a {
    img {
      width: 5%;
      float: left;
    }
  }
}
.clearfloat {
  clear: both;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.avatar {
  padding: 0 10px 10px 0;
  display: block;
}

section {
  margin-top: 20px;
}

ul.thumbnails div.thumbnail {
  p {
    min-height: 150px;
  }
}

img#pc_big {
  width: 90%
}
.navbar {
  .brand {
    color: #eee;
    #org {
      color: #07b;
    }
    #divider {
      color: #B94A48;
    }
    sub {
      color: #468847;
    }
  }
}

.dyn-datatable {
  clear: both;
}

.anchor-hop {
  section {
    padding-top: 77px;
  }
}

/********************************************/
/* bootstrap fixes */

/* fix for navbar turning blue */
.navbar-inner {
  // for IE
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

/* fix for breadcrumb turning blue */
.breadcrumb {
  // for IE
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F5F5F5', GradientType=0);
}

/* fix/addition for right-aligned dropdown menus */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar .pull-right .dropdown-menu::after, .navbar .dropdown-menu.pull-right::after {
  right: 13px;
  left: auto;
}

/********************************************/
/* borrowed styles from the bootstrap demo page */

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    //width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

/*************************************************/
/* custom styles for random stuff */

/* add quote images to blockquotes */
.blockquote-quote {
  blockquote {
    background-image: image-url('open_quote.gif');
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 42px;
    border: none;
    float: left;
    width: 40%;
    font-size: 1.8em;
    line-height: 1em;
    text-align: justify;
  }
}

/* set the links around photos to cover the photo */
.photo_thumb {
  display: inline-block;
}

/* set the various font sizes for tag cloud */
.tag1 {
  font-size: .8em;
}
.tag2 {
  font-size: 1em;
}
.tag3 {
  font-size: 1.4em;
}
.tag4 {
  font-size: 1.8em;
}

/* define a mega-size button for morons */
.btn.btn-moron {
  font-size: $baseFontSize * 6;
  line-height: $baseLineHeight * 6;
  width: 90%;
  margin-bottom: 10px;
}

/* add classes for convenient alignment */
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

/* adjust height of user avatars */
img.avatar {
  height: auto;
}

div.left-v-menu {
  border-right: 1px solid lightgray;
}

div.hero-unit.hero-unit-info {
  background-color: $btnInfoBackground;
  small {
    color: $white;
  }
}
div.hero-unit.hero-unit-success {
  background-color: $btnSuccessBackground;
  small {
    color: $white;
  }
}
div.hero-unit.hero-unit-warning {
  background-color: $btnWarningBackground;
  small {
    color: $white;
  }
}
div.hero-unit.hero-unit-danger {
  background-color: $btnDangerBackground;
  small {
    color: $white;
  }
}

/* adjust the margin below alerts for use in a feed-style list of alerts */
div.alert-list {
  div.alert {
    margin-bottom: 3px;
  }
}

/*************************************************/
/* modal settings */

/* define a standard modal
/* scrolls the body */
.modal-standard {
  max-height: none;
  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }
}

/***********************************************/
/* tagit settings *

#tags-select {
  width: auto;
}*/
