$blue: #3F8FBA;
$very_dark_gray: #1a1a1a;
$dark_gray: #222;
$gray: gray;
$light_gray: lightgray;
$very_light_gray: whitesmoke;
$red: darkred;
$gradient_top: #eee;
$gradient_bottom: #fff;
$header_color: #999;
$box_shadow: #000;
$header_border: #2d2d2d;
$footer_underscore: #bbb;
$footer_v_spacer: #ccc;
$footer_background: #eee;
$white: #fff;
$black: #000;
$steel_blue: #95b4c9;
$panic: red;
$box_background: #eee;

$green: green;
$middle_green: #D8E47E;
$pale_green: #FAFFD7;

$header_font_size: 1em;
$header_menu_padding: 1em;
$header_menu_top_border: .2em;
$header_height: 1em + ( 2 * $header_menu_padding ) + ( 2 * $header_menu_top_border );


@mixin red-links {
  a {
    color: $red;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin shadow($width: 5px, $hshift: 0, $vshift: 0, $color: $box_shadow, $spread: 0) {
  box-shadow: $hshift $vshift $width $spread $color;
  -moz-box-shadow: $hshift $vshift $width $spread $color;
}
@mixin shadow-inset($spread: 5px, $hshift: 0, $vshift: 0, $color: $box_shadow) {
  box-shadow: $hshift $vshift $spread $color inset;
  -moz-box-shadow: $hshift $vshift $spread $color inset;
}

@mixin shadow-bottom {
  box-shadow: 0 0 5px $box_shadow;
  -moz-box-shadow: 0 0 5px $box_shadow;
}

@mixin gradient($top: $gradient_top, $bottom: $gradient_bottom) {
  background: -webkit-linear-gradient(top, $top, $bottom);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top), to($bottom));
  background: -moz-linear-gradient(top, $top, $bottom);
  background: -ms-linear-gradient(top, $top, $bottom);
  background: -o-linear-gradient(top, $top, $bottom);
}

@mixin clip-corners($radius: 10px) {
  border-radius: $radius;
}

.clearfloat {
  clear: both;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
.inline {
  display: inline-block;
}
.inline.right {
  float: right !important;
}

hr {
  border: none;
  border-bottom: 1px solid $light_gray;
}

h1 > span, h2 > span, h3 > span, h4 > span {
  color: $gray;
  font-size: .7em;
  font-variant: normal;
  font-weight: normal;
  text-shadow: none;
  float: right;
}

.box {
  @include shadow(1px, 0, 0, gray);
  border-radius: 1em;
  padding: 1em;
  border: 1px solid white;
  background: $box_background;
  margin: 1px 1px 1em 1px !important;
  h1, h2, h3, h4 {
    padding: 0 !important;
    margin-bottom: .5em !important;
    border: none !important;
    text-shadow: white 0 2px 0;
    clear: none;
  }
  & > p {
    margin: .5em 0 0 0 !important;
    padding: .5em 0 0 0 !important;
    border-top: 1px solid $light_gray;
    clear: left;
    &:first-of-type {
      border: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    li {
      margin: .5em 0 0 0 !important;
      padding: .5em 0 0 0 !important;
      border-top: 1px solid $light_gray;
      clear: left;
      &:first-of-type {
        border: none;
      }
      p {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        clear: none;
      }
    }
  }
  form {
    margin-top: 1em;
    input {
      &[type=submit] {
        color: $green;
      }
    }
  }
  &.error {
    @include shadow(1px, 0, 0, $panic, 1px);
    background: pink;
    h1, h2, h3, h4 {
      color: black !important;
      text-shadow: gray 0 1px 0 !important;
    }
  }
}

.oauth_icons {
  a {
    display: inline-block;
    img {
      width: 50px;
    }
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font: 12px "Helvetica", Arial, sans-serif;
  height: 100%;
  body {
    @extend html;
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
    #main {
      @include red-links;
      @include gradient;
      height: 100%;
      height: auto;
      min-height: 100%;
      a.avatar {
        display: inline-block;
        img {
          @include shadow;
          border-radius: .5em;
        }
      }
      hr {
        width: 99%;
        border-color: $light_gray;
      }
      #header_spacer {
        padding-top: $header_height;
        margin-bottom: -1px;
        font-size: $header_font_size;
      }
      #photobar {
        background-color: black;
        img {
          padding: 0;
          margin: 0;
          float: left;
          width: 5%;
        }
      }
      #notice {
        @include shadow-bottom;
        border: 1px solid $middle_green;
        background-color: $pale_green;
        color: $green;
        padding: 1em 0;
        position: relative;
        z-index: 10;
        p {
          text-align: center;
        }
      }
      #menu_bar {
        @include shadow-bottom;
        position: relative;
        ul {
          list-style-type: none;
          float: left;
          li {
            float: left;
          }
        }
      }
      #page {
        padding: 1.5em 0;
        @include shadow(1px, 0, -1px);
        position: relative;
        z-index: 15;
        p {
          margin: 5px;
          line-height: 1.5em;
          text-align: justify;
        }
        ul {
          margin: 1em 0 1em 2em;
        }
        .row {
          margin-bottom: 2em;
        }
        h1, h2, h3, h4 {
          font-weight: bold;
          padding: .5em 0 0 0;
          a {
            color: $black;
          }
          a:hover {
            text-decoration: none;
            text-shadow: 5px solid;
            color: $red;
          }
        }
        h1, h2, h3 {
          color: $blue;
          border-bottom: 1px solid $light_gray;
          margin-bottom: .2em;
        }
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 1.6em;
        }
        h3 {
          font-size: 1.2em;
        }
        h4 {
          font-variant: small-caps;
          font-weight: bold;
          font-size: 1.2em;
          margin-bottom: .3em;
          color: $dark_gray * 1.7;
        }
        .pagination {
          margin: 2em 0;
        }
        table {
          text-align: left;
          tr {
            border: 1px solid $dark_gray;
            td, th {
              padding: 5px;
            }
            th {
              font-weight: bold;
            }
          }
        }
        form {
          h1, h2, h3, h4 {
            margin-bottom: 1em;
          }
          textarea {
            height: 100px;
          }
          label {
            display: block;
            color: $gray;
          }
          .actions {
            text-align: right;
          }
          .field {
            margin-bottom: 10px;
          }
          .field_with_errors {
            display: inline-block;
            input {
              box-shadow: 0 0 5px $panic;
            }
            label {
              text-shadow: 0 0 5px $panic;
            }
          }
          #error_explanation {
            box-shadow: 0 0 1px 1px $panic;
            margin: 5px 0 10px 0;
            border: 1px solid white;
            background-color: pink;
            padding: 5px;
            p {
              color: $panic;
            }
          }
        }
        .row {
          padding: 5px 0;
        }
      }
    }
  }
}

@import 'header';
@import 'context_menu_bar';
@import 'admin_menu_bar';
@import 'footer';
@import 'left_menu';
@import 'tags';

/* page-specific */
@import 'statics';
@import 'users';
@import 'feedback';
@import 'feed';
@import 'moments';
@import 'pages';
@import 'photos';
@import 'blogs';
@import 'sessions';
@import 'case_studies';
