$blue: #3F8FBA;
$very_dark_gray: #1a1a1a;
$dark_gray: #222;
$light_gray: lightgray;
$red: darkred;
$gradient_top: #e5f4ff;
$gradient_bottom: #fff;
$header_color: #999;
$box_shadow: #000;
$header_border: #2d2d2d;
$footer_underscore: #bbb;
$footer_v_spacer: #ccc;
$footer_background: #eee;
$green: green;
$white: #fff;
$black: #000;
$steel_blue: #95b4c9;
$panic: red;

$header_font_size: 1.3em;

@mixin red-links {
  a {
    color: $red;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font: 12px "Helvetica", Arial, sans-serif;
}

html, body, #main {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(top, $gradient_top, $gradient_bottom);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($gradient_top), to($gradient_bottom));
  background: -moz-linear-gradient(top, $gradient_top, $gradient_bottom);
  background: -ms-linear-gradient(top, $gradient_top, $gradient_bottom);
  background: -o-linear-gradient(top, $gradient_top, $gradient_bottom);
}


.clearfloat {
  clear: both;
}

header {
  position: fixed;
  width: 100%;
  background: $dark_gray;
  color: $header_color;
  font-size: $header_font_size;
  #site_title {
    display: inline-block;
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0 1%;
    #title_organization {
      color: $blue;
    }
    #title_separator {
      color: $red;
    }
    #title_country {
      color: $light_gray;
    }
  }
  ul {
    list-style-type: none;
    li {
      float: left;
      border-left: 2px solid $header_border;
      &:last-child {
        border-right: 2px solid $header_border;
      }
      a {
        padding: 1em .5em;
        display: inline-block;
        background-color: $very_dark_gray;
        letter-spacing: 1px;
        font-variant: small-caps;
        &:hover {
          background-color: $black;
          color: $white;
        }
        img {
          height: 3em;
          width: 3em;
          line-height: 1em;
        }
        &#gravatar {
          margin: 0;
          padding: 0;
          line-height: 1em;
        }
      }
    }
  }
  sub {
    color: $green;
    vertical-align: sub;
    font-size: .5em;
  }
  a {
    text-decoration: none;
    color: $header_color;
    &:hover {
      text-decoration: none;
    }
  }
}

footer {
  @include red-links;
  div#legal {
    float: left;
    clear: left;
  }
  ul {
    list-style-type: none;
  }
}

#main {
  @include red-links;
  #header_spacing {
    padding-bottom: $header_font_size * 3; // don't change, calibrates off of the setting for the variable.
  }
  #menu_bar, #admin_menu_bar {
    padding-left: 1%;
    background-color: $steel_blue;
    ul {
      list-style-type: none;
      font-size: 1.5em;
      line-height: 1.5em;
      background: $light_gray;
      border-radius: 10px;
      float: left;
      margin: .5em;
      li {
        float: left;
        margin: .25em 0;
        a {
          border-left: 2px solid $black;
          padding: 0 .5em;
        }
        &:first-child {
          a {
            border: none;
          }
        }
      }
      &:first-child {
        background: none;
        li {
          font-size: 1.5em;
        }
      }
    }
  }
  #admin_menu_bar {
    background: none;
    ul {
      font-size: 1em;
      li {
        a {
          border-color: $steel_blue;
        }
      }
    }
  }
  #page {
    margin: 1.5em 0;
    .pagination {
      margin: 2em 0;
    }
    table {
      text-align: left;
      tr {
        border: 1px solid $dark_gray;
        td, th {
          padding: 5px;
        }
        th {
          font-weight: bold;
        }
      }
    }
    form {
      label {
        display: inline-block;
        width: 8em;
      }
      .actions {
        text-align: right;
      }
      .field {
        margin-bottom: 10px;
      }
      .field_with_errors {
        display: inline-block;
        input {
          box-shadow: 0 0 5px $panic;
        }
        label {
          text-shadow: 0 0 5px $panic;
        }
      }
      #error_explanation {
        box-shadow: 0 0 5px $panic;
        margin: 5px 0 10px 0;
        padding: 5px;
        ul {
          color: $panic;
          margin-left: 3em;
        }
      }
    }
  }
}

header, #menu_bar, #admin_menu_bar {
  box-shadow: 0 0 5px $box_shadow;
  -moz-box-shadow: 0 0 $box_shadow;
}
header, div#header_spacing {
  line-height: 1em;
}
footer > div:last-child ul {
  list-style-type: none;
}

footer > div:first-child ul {
  line-height: 1.5em;
}
footer > div:last-child ul {
  float: left;
}

footer > div:first-child li:first-child {
  font-weight: bold;
  border-bottom: 1px solid $footer_underscore;
}

footer > div:last-child li {
  float: left;
  margin: .5em .5em .5em 0;
  padding: 0 .5em 0 0;
  border-right: 2px solid $footer_v_spacer;
}

footer > div:last-child li:last-child {
  padding: 0;
  border-right: none;
  margin-right: 0;
}

footer > div:first-child {
  background: $footer_background;
  border-color: $footer_v_spacer;
  border-width: 1px 0;
  border-style: solid;
}

footer > div {
  padding: 1em 0;
}
