.container
  .row
    .twelvecol.last
      :erb
        <p>
          <b>Name:</b>
          <%= @region.name %>
        </p>

        <p>
          <b>Short:</b>
          <%= @region.short %>
        </p>

        <p>
          <b>Parent:</b>
          <%= @region.parent_id %>
        </p>

        <p>
          <b>Country:</b>
          <%= @region.country %>
        </p>

        <p>
          <b>Type:</b>
          <%= @region.type.name %>
        </p>

        <p>
          <b>Description:</b>
          <%= @region.description %>
        </p>
