.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <p>
        <b>Name:</b>
        <%= @region.name %>
      </p>

      <p>
        <b>Short:</b>
        <%= @region.short %>
      </p>

      <p>
        <b>Parent:</b>
        <%= @region.parent_id %>
      </p>

      <p>
        <b>Country:</b>
        <%= @region.country %>
      </p>

      <p>
        <b>Type:</b>
        <%= @region.type.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @region.description %>
      </p>
  .span2
