.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      :erb
        <table>
          <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @sites.each do |site| %>
          <tr>
            <td><%= site.name %></td>
            <td><%= site.region.name %></td>
            <td><%= site.description %></td>
            <td><%= link_to 'Show', site %></td>
            <td><%= link_to 'Edit', edit_site_path(site) %></td>
            <td><%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
