.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      :erb
        <p>
          <b>Name:</b>
          <%= @site.name %>
        </p>

        <p>
          <b>Region:</b>
          <%= @site.region.name if @site.region %>
        </p>

        <p>
          <b>Description:</b>
          <%= @site.description %>
        </p>
    .span-4.last
      = render 'shared/right_user_menu'