.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <p>
        <b>Name:</b>
        <%= @site.name %>
      </p>

      <p>
        <b>Region:</b>
        <%= @site.region.name if @site.region %>
      </p>

      <p>
        <b>Description:</b>
        <%= @site.description %>
      </p>
  .span2
