.row#timeline
  .span-24.last
    - count = 1
    - @moments.each do |m|
      - align = (count.odd?) ? 'left' : 'right'
      = render :partial => 'timeline_moment', :locals => { :moment => m, :align => align }
      - count+=1
