.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <p>
        <b>Name:</b>
        <%= @regiontype.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @regiontype.description %>
      </p>
  .span2
