.container
  .row
    .span-5
    .span-15.last
      :erb
        <table>
          <tr>
            <th>Subject</th>
            <th>Content</th>
            <th></th>
            <th></th>
          </tr>

        <% @feedback.each do |feedback| %>
          <tr>
            <td><%= feedback.subject %></td>
            <td><%= feedback.content %></td>
            <td><%= link_to 'Show', feedback %></td>
            <td><%= link_to 'Destroy', feedback, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
    .span-4.last
      = render 'shared/right_user_menu'