.row-fluid
  .span2
    = render 'shared/menu'
  .span10
    :erb
      <table class="table table-striped table-condensed dyn-datatable">
        <thead>
          <th>Subject</th>
          <th>Content</th>
          <th></th>
        </thead>
        <tbody>
          <% @feedback.each do |feedback| %>
            <tr>
              <td><%= link_to feedback.subject, feedback %></td>
              <td><%= feedback.content %></td>
              <td><%= button_to 'Destroy', feedback, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger btn-mini' if can? :destroy, feedback %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    .clearfloat
