.row
  .span3
    = render 'shared/menu'
  .span6
    %h1 Give us some feedback!
    = render 'form'
  .span3
    .well
      %h3 Your Feedback
      %p All feedback is completely anonymous and will used to improve the site wherever possible. If you would like to be contacted regarding your feedback, please include your name/contact info in your response. We'll do our best to be responsive.
      %p If you would like to open a discussion with the site administrator, please email admin@pcsenegal.org.
      %p We appreciate your interest in making this site better.
