.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15.last
      :erb
        <p>
          <b>Subject:</b>
          <%= @feedback.subject %>
        </p>

        <p>
          <b>Content:</b>
          <%= @feedback.content %>
        </p>
    .span-4.last
      = render 'shared/right_user_menu'