.row
  .span3
    = render 'shared/menu'
  .span7
    :erb
      <p>
        <b>Subject:</b>
        <%= @feedback.subject %>
      </p>

      <p>
        <b>Content:</b>
        <%= @feedback.content %>
      </p>
  .span2
