#context_menu_bar
  .container
    .row
      .twocol
      .tencol.last
        %ul
          - unless @context_menu.nil?
            - @context_menu.each do |key, val|
              %li= link_to key, val
        .clearfloat
